@model Business.ApplicationService.maillist[]
@{
    ViewBag.Title = "Mailing List";
    ViewBag.highlight = "mailinglists";
    Layout = "~/Views/Shared/_JobPortalMasterView.cshtml";
    List<Business.ApplicationService.maillist> lists = Model.ToList();
}


<div class="page-header-row">
    <div class="pull-left">
        <span class="pageheader">Mailing Lists</span>
    </div>
    <div class="pull-right">
        <a href="#crmailinglist" role="button" class="btn-green btn-flat" data-toggle="modal">Create Mailing List</a>
    </div>
</div>


<div>

    <table class="table table-hover" style="border: 1px solid #ddd;">
        <tbody>
            @foreach (Business.ApplicationService.maillist listitem in Model)
            {
                if (listitem.Deleted != "1")
                {
                <tr>
                    <td>
                        <div style="padding: 5px 20px 0px 20px;">
                            <div style="width: 100%; display: inline-block;">
                                <div class="pull-left" style="margin-top: 5px;">
                                    <span><span>@listitem.Title</span><span class="badge badge-inverse" style="margin-left: 10px;" title="List Contains @*@listitem.members.TotalCount.ToString()*@ Members">@*@listitem.members.TotalCount.ToString()*@</span></span>
                                </div>
                                <div class="pull-right">
                                    @Html.ActionLink("View", "list", "lists", new { listid = listitem.listid }, new { @class = "btn-grey btn-flat" })
                                   
                                     @Html.ActionLink("Add", "list", "lists", new { listid = listitem.listid }, new { @class = "btn-green btn-flat", style = "margin-left: 10px;" })
                                  <i id="deletemaillist" class=" glyphicon glyphicon-trash deletemaillist" title="Delete list" data-listid="@listitem.listid" data-listname="@listitem.Title"></i>
                                            
                                     </div>
                            </div>
                        </div>
                    </td>

                </tr>
                }

            }
        </tbody>
    </table>
    <div style="padding-top: 25px; clear: both;">
        <div style="text-align: center;">
            <ul class="pagination">
                <li class="disabled"><a href="#">Prev</a></li>
                <li class="disabled"><a href="#" class="disabled">1</a></li>
                <li class="disabled"><a href="#" class="disabled">2</a></li>
                <li class="disabled"><a href="#" class="disabled">3</a></li>
                <li class="disabled"><a href="#" class="disabled">4</a></li>
                <li class="disabled"><a href="#" class="disabled">5</a></li>
                <li class="disabled"><a href="#" class="disabled">Next</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="crmailinglist" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Create Mailing List</h3>
            </div>
            <div class="modal-body">
                <div>
                    @using (Html.BeginForm("create", "lists", FormMethod.Post, new { style = "clear:both; padding: 10px 0px 0px 10px; " }))
                    {
                        <div>
                            <input id="newmaillistname" class="input input-wide input-well" type="text" placeholder="Enter Mailing List Name" />
                        </div>
                        <div>
                             <span id="createmailinglistcancel" class="btn-grey btn-flat pull-right" style="margin-left: 10px;" data-dismiss="modal">Cancel</span>
        <span id="createnewmaillist" class="btn-green btn-flat pull-right" style="margin-left: 10px;">Create Mailing List</span>
                        </div>@*
                <div class="alert alert-error" id="maillistempty" style="display:none;margin-top:19px;">
                    <span>List name should not be Empty</span>
                </div>*@
                    }
                </div>
            </div>
            @*<div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>*@
        </div>
    </div>
</div>

<div id="deletelist" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
    <div class="modal-header">
        <h3>Delete Mailing List</h3>
    </div>
    <div class="modal-body">
        <form>
            <input type="hidden" id="chosenlistid">
             <input type="hidden" id="id">

            <div>
                @* <span class="jobtitle">Questionaire</span>*@
            </div>
            <div style="margin: auto;">
                <table class="table jobtable questionairetable">
                    <tbody>

                        <tr>
                            <td><span style="float: left;">Are you sure want to delete your Mailing List <span id="listname" style="font-weight: bold; text-transform: capitalize;"></span>?</span></td>

                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="">
        <a id="deletelistno" class="btn-grey btn-flat pull-right" style="margin-left: 10px;">No</a>
        <a id="deletelistyes" class="btn-green btn-flat pull-right" style="margin-left: 10px;">Yes</a>

    </div>
</div>
         </div>

    </div>

@section Scripts{
    <script src="~/Scripts/jobportal/maillist.js"></script>
}