@model UI.Models.PortalContact

@using (Html.BeginForm("Add", "Contacts", FormMethod.Post, new { enctype = "multipart/form-data", id = "addcontactform" }))
{
    <div class="clear">
        <div class="row page-block-row" >
            <div class="col-md-3">
                <p class="info-header">Work Information</p>
                @*<span class="info-subheader">Highlight your requirements with single line</span>*@
            </div>
            <div class="col-md-7 pull-left">
                <table class="jobtable">
                    <tbody>
                        <tr>
                            <td colspan="">
                                <div class="" style="margin-bottom: -5px;">
                                    @Html.TextBoxFor(m => m.Companyname, new { id = "contactcompanyname", placeholder = "Company Name", @class = "input input-wide input-well", style = "width:263px;" })
                                </div>
                            </td>
                            <td style="width: 15px;"></td>
                            <td colspan="">
                                <div class="" style="margin-bottom: -5px;">
                                    @Html.TextBoxFor(m => m.designation, new { id = "contactdesignation", placeholder = "Designation", @class = "input input-wide input-well", style = "width:263px;" })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row page-block-row">
            <div class="col-md-3">
                <p class="info-header">Contact Information</p>
                @*<span class="info-subheader">Highlight your requirements with single line</span>*@
            </div>
            <div class="col-md-7 pull-left">
                <table class="jobtable">
                    <tbody>
                        <tr>
                            <td>
                                <div class="" style="margin-bottom: -5px;">
                                    @Html.TextBoxFor(m => m.firstname, new { id = "contactfirstname", placeholder = "First Name (Ex:Robert)", @class = "input input-wide input-well", style = "width:263px;" })
                                </div>
                            </td>
                            <td style="width: 15px;"></td>
                            <td>
                                <div class="" style="margin-bottom: -5px;">
                                    @Html.TextBoxFor(m => m.lastname, new { id = "contactlastname", placeholder = "Last Name (Ex:Downey)", @class = "input input-wide input-well", style = "width:263px;" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="" style="margin-bottom: -5px;">
                                    @Html.TextBoxFor(m => m.emailaddress, new { id = "contactemailid", placeholder = "Email Address (Ex:me@company.com)", @class = "input input-wide input-well", style = "width:263px;", autocomplete = "off" })
                                </div>
                            </td>
                            <td style="width: 15px;"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="" style="margin-bottom: -5px;">
                                    @Html.TextBoxFor(m => m.officephone, new { id = "contacphonenumber", placeholder = "Work Phone", @class = "input input-wide input-well", style = "width:263px;" })
                                </div>
                            </td>
                            <td style="width: 15px;"></td>
                            <td>
                                <div class="" style="margin-bottom: -5px;">
                                    @Html.TextBoxFor(m => m.mobilephone, new { id = "contactmobilephone", placeholder = "Mobile Phone", @class = "input input-wide input-well", style = "width:263px;" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                @Html.TextAreaFor(m => m.contactnotes.content, new { id = "newcontactnotes", @class = "", style = "width: 100%;height:100px;resize:vertical;" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row page-block-row">
            <div class="col-md-3">
                <p class="info-header">Is He/She a Client Contact</p>
            </div>
            <div class="col-md-7 pull-left">
                <div class="value ">
                    <label class="radio-inline pull-left">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="Yes" class="chsimagselect">
                        Yes
                    </label>
                    <label class="radio-inline pull-left" style="margin-left: 15px;">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="No" class="chsimagselect" checked="checked">
                        No
                    </label>
                    <script>
                        $(document).ready(function () {
                            $("#contactoptionselection").val("contact");
                        });
                        $("input:radio[name=optionsRadios].chsimagselect").on('change', function () {
                            var selectedcontactoption = $("input:radio[name=optionsRadios]:checked.chsimagselect").val();
                            if (selectedcontactoption == "Yes") {
                                $("#contactoptionselection").val("Clicontact");
                            }
                            else {
                                $("#contactoptionselection").val("contact");
                            }
                        });

                    </script>
                    @Html.HiddenFor(m => m.objecttype, new { id = "contactoptionselection", name = "contactoptionholder" })
                </div>
            </div>
        </div>
        <div class="row page-block-row" style="border-color:transparent;">
            <div class="pull-right">
                @* <span class="btn-grey btn-flat">Cancel</span>*@
                <span id="addcontactproxy" class="btn-green btn-flat" style="margin-left: 10px;">Add Contact</span>
                 <span id="addcontactproxya" class="hide btn-green btn-flat" style="margin-left: 10px;"data-loading-text="Loading...">Add Contact</span>
                @*<button type="button" id="fat-btn"class="hide btn btn-primary" data-loading-text="Loading...">Loading state</button>*@
                <script>
                    $('#addcontactproxya')
    .click(function () {
        var btn = $(this)
        btn.button('loading')
        setTimeout(function () {
            btn.button('reset')
        }, 3000)
    });
                    </script>
                <input type="submit" class="btn-green btn-flat" value="Add Contact" style="margin-left: 10px; display: none;" />
            </div>
        </div>
    </div>

}

